[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = {extras = ["crypto"], version = "*"}
boto3 = "*"
requests = "*"

[dev-packages]
moto = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest"